body {
    font-family: 'Chela One', cursive;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-brand{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color:#FD6E0A ;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background-color:#FD6E0A ;
    height: 64px;
    width: 150px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}